.stackedcarousal .react-stacked-center-carousel-slide-0,
.stackedcarousal .react-stacked-center-carousel-slide--1,
.stackedcarousal .react-stacked-center-carousel-slide-1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: black; */
    opacity: 0;
}

/* Centered Box */
.react-stacked-center-carousel-slide-0 .my-slide-component .home_page_section_2_card{
    width: 100%;
    color: black;
    transform: scale(1.2);
    border-radius: 5rem;
}

.react-stacked-center-carousel-slide-0 .my-slide-component .home_page_section_2_card:hover{
    transform: scale(1.3);
}

/* Left and right boxes */
.react-stacked-center-carousel-slide-1, .react-stacked-center-carousel-slide--1{
    filter: blur(3px);
    /* border-radius: 3rem; */
}

.react-stacked-center-carousel-slide-1 .my-slide-component .home_page_section_2_card:hover,
.react-stacked-center-carousel-slide--1 .my-slide-component .home_page_section_2_card:hover{
    /* background-color: rgba(0, 0, 0, 0.677); */
    transform: scale(1.0);
}
